.header {
    display: flex;
    max-width: 1184px;
    margin: 0 auto;
    padding: 28px 48px 56px;
    justify-content: space-between;
    align-items: end;
}

@media screen and (max-width: 1279px) {
    .header {
        padding-bottom: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        max-width: 968px;
        padding: 28px 24px 48px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        max-width: 100%;
        padding: 16px 16px 48px;
    }
}