.cover_background {
    background-image: url(../../../images/cover-trains.jpg);
    min-height: 740px;
    background-size: cover;
}

@media screen and (max-width: 1279px) {
    .cover_background {
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover_background {
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover_background {
        min-height: 200px;
    }
}