.lead__caption {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    font-weight: 400;
    margin: 0;
}

@media screen and (max-width: 1279px) {
    .lead__caption{
        width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .lead__caption{
        width: 288px;
        margin: 0 auto;
    }
}